<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top navbar-pad" role="navigation">
      <div class="container-flex">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand clearfix" href="/"><span class="glyphicon glyphicon-map-marker"></span><span>Trip Planner</span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfQxgWt-LSZcEmTEN8581Uq9SzZHnpuys&sensor=true"></script>
    <script>
      function initialize_gmaps() {
        // initialize new google maps LatLng object
        var myLatlng = new google.maps.LatLng(40.705189,-74.009209);
        // set the map options hash
        var mapOptions = {
          center: myLatlng,
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: styleArr
        };
        // get the maps div's HTML obj
        var map_canvas_obj = document.getElementById("map-canvas");
        // initialize a new Google Map with the options
        var map = new google.maps.Map(map_canvas_obj, mapOptions);
        // Add the marker to the map
        var marker = new google.maps.Marker({
          position: myLatlng,
          title:"Hello World!"
        });
        return map;
      }

    $(document).ready(function() {
      var map = initialize_gmaps();
      var days = {};
      var current = 0;
      var numDays = 0;
      var markers = [];
      function drawMap(){
        markers.forEach(function(marker){
          marker.setMap(null);
          console.log("individual markers: ", marker);
        });
        var hotelLocation = days[current-1].hotelLoc;
        var restaurantLocations = days[current-1].restaurantLocs;
        var activityLocations = days[current-1].activityLocs;
        console.log(hotelLocation,restaurantLocations,activityLocations);
        var currentMarkers = [];
        function drawLocation (location, opts) {
          if (typeof opts !== 'object') {
            opts = {}
          }
          opts.position = new google.maps.LatLng(location[0], location[1]);
          opts.map = map;
          var marker = new google.maps.Marker(opts);
          currentMarkers.push(marker);
        }
        if(hotelLocation.length>0){
          drawLocation(hotelLocation, {
            icon: '/images/lodging_0star.png'
          });
        }
        restaurantLocations.forEach(function (loc) {
          drawLocation(loc, {
            icon: '/images/restaurant.png'
          });
        });
        activityLocations.forEach(function (loc) {
          drawLocation(loc, {
            icon: '/images/star-3.png'
          });
        });
        return currentMarkers;
      }
      function getLoc(type,name){
        if(type==="Hotels"){
          for (var i=0; all_hotels.length; i++){
            if(all_hotels[i].name === name)
              return all_hotels[i].place[0].location;
          }
        }
        else if(type==="Activities"){
          for (var i=0; all_activities.length; i++){
            if(all_activities[i].name === name)
              return all_activities[i].place[0].location;
          }
        }
        else{
          for (var i=0; all_restaurants.length; i++){
            if(all_restaurants[i].name === name)
              return all_restaurants[i].place[0].location;
          }
        }
      }
      function getIndex(location, arrayOfLoc){
        var num1 = location[0]
        var num2 = location[1]
        for(var i = 0; i < arrayOfLoc.length; i++){
          var currentLocation = arrayOfLoc[i];
          var currentNum1 = currentLocation[0];
          var currentNum2 = currentLocation[1];
          if(currentNum1 === num1 && currentNum2 === num2){
            return i;
          }
        }
      }
      $(document).on("click",".add", function(){
        if(current === 0){
          console.log("Na");
          return;
        }
        var type = $(this).siblings("h4")[0].innerText;
        var option = $(this).siblings("select")[0].selectedOptions[0].outerText;
        var hotels = $(".current")[0].childNodes[3].childNodes[3].childNodes[0];
        var restaurants = $(".current")[0].childNodes[3].childNodes[3].childNodes[1];
        var activities = $(".current")[0].childNodes[3].childNodes[3].childNodes[2];
        var hotelName = hotels.childNodes[0].innerText.slice(3);
        var restaurantName = restaurants.childNodes[0].innerText.slice(3);
        var activityName = activities.childNodes[0].innerText.slice(3);
        if(type === hotelName){
            var length = hotels.childNodes[1].childNodes.length;
            if(length < 1){
              var html = '<div class="itinerary-item"><span class="title">' + option +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
              $(hotels.childNodes[1]).append(html);
              days[(current-1).toString()]["hotels"]+= html;
              days[(current-1).toString()]["hotelLoc"] = getLoc(type,option);
            }
        }else if(type === restaurantName){
            var length = restaurants.childNodes[1].childNodes.length;
            if(length < 3){
              var html = '<div class="itinerary-item"><span class="title">' + option +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
              $(restaurants.childNodes[1]).append(html);
              days[(current-1).toString()]["restaurants"]+= html;
              days[(current-1).toString()]["restaurantLocs"].push(getLoc(type,option));
            }
        }else if(type === activityName){
            var length = activities.childNodes[1].childNodes.length;
            if(length < 2){
              var html = '<div class="itinerary-item"><span class="title">' + option +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
              $(activities.childNodes[1]).append(html);
              days[(current-1).toString()]["activities"]+= html;
              days[(current-1).toString()]["activityLocs"].push(getLoc(type,option));
            }
        }
        markers = drawMap();
      });
      $(document).on("click", ".remove", function(){
        var name = $(this).parent()[0].innerText
        var type = $(this).parent().closest(".list-group").siblings("h4")[0].innerText;
        name = name.substring(0,name.length-1);
        if(type === "My Hotels"){
          var hotels = days[(current-1).toString()]["hotels"];
          var replace = '<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
          var newHotels = hotels.replace('<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>',"");
          days[(current-1).toString()]["hotels"] = newHotels;
          markers[0].setMap(null);
          markers = markers.slice(1);
          days[(current-1).toString()]["hotelLoc"] = [];
        }
        else if(type === "My Restaurants"){
          var restaurants = days[(current-1).toString()]["restaurants"]
          var replace = '<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
          var newRestaurants = restaurants.replace('<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>',"");
          days[(current-1).toString()]["restaurants"] = newRestaurants;
          var count = 0;
          if(days[(current-1).toString()]["hotelLoc"].length === 2) count = 1;
          var location = getLoc("Restaurants",name);
          var index = getIndex(location,days[(current-1).toString()]["restaurantLocs"]);
          markers[count+index].setMap(null);
          markers.splice(count+index,1);
          days[(current-1).toString()]["restaurantLocs"].splice(index,1);
        }
        else if(type === "My Activities"){
          var activities = days[(current-1).toString()]["activities"]
          var replace = '<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>'
          var newActivities = activities.replace('<div class="itinerary-item"><span class="title">' + name +'</span><button class="btn btn-xs btn-danger remove btn-circle">x</button></div>',"");
          days[(current-1).toString()]["activities"] = newActivities;
          var count = 0;
          if(days[(current-1).toString()]["hotelLoc"].length === 2) count = 1;
          count = count + days[(current-1).toString()]["restaurantLocs"].length;
          var location = getLoc("Activities",name);
          var index = getIndex(location,days[(current-1).toString()]["activityLocs"]);
          markers[count+index].setMap(null);
          markers.splice(count+index,1);
          days[(current-1).toString()]["activityLocs"].splice(index,1);
        }
        $(this).parent().remove();
      });

      $(document).on("click", ".removeDay", function(){
        var string = $(this).siblings("span")[0].innerText;
        var value = parseInt(string[string.length-1]);
        if(!isNaN(value)){
          if(value === 1){
            if(Object.keys(days).length === 1){
              $(this).siblings("span").html("Plan Your Trip");
            }else{
              $(this).siblings("span").html("Pick a Day");
            }
            $("#"+value).remove();
            delete days[value-1];
            days = updateButtons();
            numDays--;
          }else{
            $(this).siblings("span").html("Pick a Day");
            $("#"+value).remove();
            delete days[value-1];
            days = updateButtons();
            numDays--;
          }
        }
      });

      function updateButtons(){
        var newObj = {};
        var counter = 0;
        for(var key in days){
          if(key != counter){
            var oldId = parseInt(key) + 1;
            var newId = parseInt(counter+1);
            $("#"+oldId).html(counter+1);
            $("#"+oldId).attr("id",newId.toString());

            var value = days[key];
            newObj[counter] = value;
          }else{
            var value = days[key];
            newObj[key] = value;
          }
          counter++;
        }
        return newObj;
      }

      $(document).on("click", ".add-day", function(){
        if($(this).prev()[0] == undefined) var dayNum = 1;
        else var dayNum = parseInt($(this).prev()[0].innerText)+1;
        var last = '<button class="btn btn-circle day-btn" id = ' + dayNum +'>'+dayNum+'</button>';
        var addDay = '<button class="btn btn-circle add-day">+</button>'
        var dayInfo = '<div class="panel-body day-info"><div><h4>My Hotel</h4><ul class="list-group"></ul></div><div><h4>My Restaurants</h4><ul class="list-group"></ul></div><div><h4>My Activities</h4><ul class="list-group"></ul></div></div>'
        var parent = $(this).parent();
        $(this).remove();
        parent.append(last + " " + addDay);
        days[numDays.toString()] = {"activities":'<div><h4>My Activities</h4><ul class="list-group">',"restaurants":'<div><h4>My Restaurants</h4><ul class="list-group">',"hotels":'<div><h4>My Hotels</h4><ul class="list-group">', "activityLocs":[],"hotelLoc":[],"restaurantLocs":[]};
        numDays++;
      });

      $(document).on("click", ".day-btn", function(){
        for(var i = 0; i < markers.length; i ++){
          markers.forEach(function(marker){
            marker.setMap(null);
          });
        }
        var num = parseInt(this.innerText);
        current = num;
        var currentDay = days[(current - 1).toString()];
        var answer = currentDay["hotels"] + '</ul></div>' + currentDay["restaurants"] + '</ul></div>' + currentDay["activities"] + '</ul></div>'
        $(".day-info").html(answer);
        $("#day-title")[0].firstElementChild.innerText = "Day " + current.toString();
        markers = drawMap();
      });
    });

    var styleArr = [{
      featureType: "landscape",
      stylers: [{
        saturation: -100
      }, {
        lightness: 60
      }]
    }, {
      featureType: "road.local",
      stylers: [{
        saturation: -100
      }, {
        lightness: 40
      }, {
        visibility: "on"
      }]
    }, {
      featureType: "transit",
      stylers: [{
        saturation: -100
      }, {
        visibility: "simplified"
      }]
    }, {
      featureType: "administrative.province",
      stylers: [{
        visibility: "off"
      }]
    }, {
      featureType: "water",
      stylers: [{
        visibility: "on"
      }, {
        lightness: 30
      }]
    }, {
      featureType: "road.highway",
      elementType: "geometry.fill",
      stylers: [{
        color: "#ef8c25"
      }, {
        lightness: 40
      }]
    }, {
      featureType: "road.highway",
      elementType: "geometry.stroke",
      stylers: [{
        visibility: "off"
      }]
    }, {
      featureType: "poi.park",
      elementType: "geometry.fill",
      stylers: [{
        color: "#b6c54c"
      }, {
        lightness: 40
      }, {
        saturation: -40
      }]
    }];
  </script>
  </body>
</html>
